{# templates/registration/signup.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<style>
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-bottom: 15px;
}

.password-field {
    position: relative;
    margin-bottom: 15px;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-signup {
    width: 100%;
    padding: 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px 0;
}

.terms-text {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.terms-link {
    color: #ff4081;
    text-decoration: none;
}

.login-link {
    text-align: center;
}

.login-link a {
    color: #ff4081;
    text-decoration: none;
}
        .back-arrow {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 20px;
            color: #666;
            cursor: pointer;
            text-decoration: none;
        }

</style>
    <div class="signup-container">
<a href="{{path('app_home')}}" href="#" class="back-arrow"><img src="{{ asset('/img/icones/arrow.svg') }}"/></a>
        <h1 class="fs-6 fw-bold text-center">Sign Up</h1>

        <h1 class="mt-5">Create an account</h1>
        <p>Create account to continue</p>

        <form class="signup-form mt-5" method="post">
            <input type="text" name="name" placeholder="  User Name" class="form-control">
            
            <input type="email" name="email" placeholder="  Email Address" class="form-control">
            
            <div data-controller="password-visibility" style="position: relative;">
    <input id="password" type="password" name="password" placeholder="   Password"
           class="form-control" data-password-visibility-target="password">
    <i id="togglePassword" class="fas fa-eye"
       data-action="click->password-visibility#toggleVisibility"
       data-password-visibility-target="toggle"
       style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;">
    </i>
</div>

            <button type="submit" class="btn-signup">Sign Up</button>
        </form>

        <p class="terms-text ms-5 me-5">
            by Sign up you are agree with our
            <a href="#"  class="terms-link">terms & condition of use</a>
        </p>

        <p class="login-link mt-5">
            Already have account? <a data-turbo="false"  href="{{path('app_login')}}">Log in</a>
        </p>
    </div>
{% endblock %}