{% extends 'base.html.twig' %}

{% block body %}
<style>




.card {
    border: none;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}


</style>
<div class="container my-4 mt-5">

    
    <div class="row">
        {% for person in persons %}
        <div class="col-6 mb-4">
            <div class="card">
                <img src="https://picsum.photos/2000" class="card-img-top rounded" alt="{{ person.name }}">
                <div class="card-body text-center p-2">
                    <h6 class="card-title mb-0">{{ person.name }}</h6>
                    <p class="card-text text-muted mb-0">{{ person.role }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
   
</div>
{% endblock %}
